services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: "mynewimage"
    ports:
      - "5000:5000"
    restart: always
    volumes:
      - ./data:/code/data
    develop:
      watch:
        - action: sync
          path: .
          target: /code
    depends_on:
      - redis
  redis:
    image: "redis:alpine"
